* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 98%);
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}
.header {
  border: 1px solid slateblue;

  text-align: center;
  margin-top: 60px;
}
.header h1 {
  color: hsl(234, 12%, 34%);
}
.header h2 {
  color: hsl(229, 6%, 66%);
}
.header p {
  color: hsl(229, 6%, 66%);
}
.container {
  border: 1px solid slateblue;
  margin-top: 40px;
  /* margin-left: 30px; */
  /* width: 900px; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  column-gap: 10px;
  row-gap: 40px;
}
.el--1 {
  border-top: 2px solid hsl(180, 62%, 55%);
  grid-column: 1;
  grid-row: 2;
  /* width: 300px; */
}
.el--1,
.el--2,
.el--3,
.el--4,
h4 {
  color: hsl(234, 12%, 34%);
}
.el--1,
.el--2,
.el--3,
.el--4,
p {
  color: hsl(229, 6%, 66%);
  font-size: 15px;
}
.el--1,
.el--2,
.el--3,
.el--4 {
  background-color: #fff;
  border-radius: 5px;
}
.el--2 {
  border-top: 2px solid hsl(0, 78%, 62%);
  grid-column: 2;
  grid-row: 1;
}
.el--3 {
  border-top: 2px solid hsl(34, 97%, 64%);
  grid-column: 2;
  grid-row: 2;
  /* column-gap: 10px; */
}
.el--4 {
  border-top: 2px solid hsl(212, 86%, 64%);
  grid-column: 3;
  grid-row: 2;
}
